Car Price Prediction System

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df=pd.read_csv('cardekho_imputated.csv')

In [9]:
df

       Unnamed: 0         car_name     brand  ... max_power  seats  selling_price
0               0      Maruti Alto    Maruti  ...     46.30      5         120000
1               1    Hyundai Grand   Hyundai  ...     82.00      5         550000
2               2      Hyundai i20   Hyundai  ...     80.00      5         215000
3               3      Maruti Alto    Maruti  ...     67.10      5         226000
4               4    Ford Ecosport      Ford  ...     98.59      5         570000
...           ...              ...       ...  ...       ...    ...            ...
15406       19537      Hyundai i10   Hyundai  ...     68.05      5         250000
15407       19540    Maruti Ertiga    Maruti  ...     91.10      7         925000
15408       19541      Skoda Rapid     Skoda  ...    103.52      5         425000
15409       19542  Mahindra XUV500  Mahindra  ...    140.00      7        1225000
15410       19543       Honda City     Honda  ...    117.60      5        1200000

[15411 rows x 14 columns]

In [10]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [11]:
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [12]:
df

       Unnamed: 0     model  vehicle_age  ...  max_power seats selling_price
0               0      Alto            9  ...      46.30     5        120000
1               1     Grand            5  ...      82.00     5        550000
2               2       i20           11  ...      80.00     5        215000
3               3      Alto            9  ...      67.10     5        226000
4               4  Ecosport            6  ...      98.59     5        570000
...           ...       ...          ...  ...        ...   ...           ...
15406       19537       i10            9  ...      68.05     5        250000
15407       19540    Ertiga            2  ...      91.10     7        925000
15408       19541     Rapid            6  ...     103.52     5        425000
15409       19542    XUV500            5  ...     140.00     7       1225000
15410       19543      City            2  ...     117.60     5       1200000

[15411 rows x 12 columns]

In [13]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [14]:
num_features=[feature for feature in df.columns if df[feature].dtype!='O']
print(len(num_features))

8

In [15]:
print(num_features)

['Unnamed: 0', 'vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']

In [16]:
cat_features=[feature for feature in df.columns if df[feature].dtype=='O']
print(len(cat_features))

4

In [17]:
disc_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print(len(disc_features))

2

In [18]:
cont_features=[feature for feature in  num_features if feature not in disc_features]
print(len(cont_features))

6

In [19]:
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [20]:
X

       Unnamed: 0     model  vehicle_age  ...  engine max_power seats
0               0      Alto            9  ...     796     46.30     5
1               1     Grand            5  ...    1197     82.00     5
2               2       i20           11  ...    1197     80.00     5
3               3      Alto            9  ...     998     67.10     5
4               4  Ecosport            6  ...    1498     98.59     5
...           ...       ...          ...  ...     ...       ...   ...
15406       19537       i10            9  ...    1086     68.05     5
15407       19540    Ertiga            2  ...    1373     91.10     7
15408       19541     Rapid            6  ...    1498    103.52     5
15409       19542    XUV500            5  ...    2179    140.00     7
15410       19543      City            2  ...    1497    117.60     5

[15411 rows x 11 columns]

In [21]:
X

       Unnamed: 0     model  vehicle_age  ...  engine max_power seats
0               0      Alto            9  ...     796     46.30     5
1               1     Grand            5  ...    1197     82.00     5
2               2       i20           11  ...    1197     80.00     5
3               3      Alto            9  ...     998     67.10     5
4               4  Ecosport            6  ...    1498     98.59     5
...           ...       ...          ...  ...     ...       ...   ...
15406       19537       i10            9  ...    1086     68.05     5
15407       19540    Ertiga            2  ...    1373     91.10     7
15408       19541     Rapid            6  ...    1498    103.52     5
15409       19542    XUV500            5  ...    2179    140.00     7
15410       19543      City            2  ...    1497    117.60     5

[15411 rows x 11 columns]

In [22]:
len(df['model'].unique())

120

In [23]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [25]:
X.head()

   Unnamed: 0  model  vehicle_age  km_driven  ... mileage engine max_power  seats
0           0      7            9     120000  ...   19.70    796     46.30      5
1           1     54            5      20000  ...   18.90   1197     82.00      5
2           2    118           11      60000  ...   17.00   1197     80.00      5
3           3      7            9      37000  ...   20.92    998     67.10      5
4           4     38            6      30000  ...   22.77   1498     98.59      5

[5 rows x 11 columns]

In [26]:
len(df['seller_type'].unique())

3

In [27]:
num_features=X.select_dtypes(exclude="object").columns
onehot_columns=['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
    [
        ("OneHotEncode",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [28]:
X

       Unnamed: 0  model  vehicle_age  ...  engine max_power seats
0               0      7            9  ...     796     46.30     5
1               1     54            5  ...    1197     82.00     5
2               2    118           11  ...    1197     80.00     5
3               3      7            9  ...     998     67.10     5
4               4     38            6  ...    1498     98.59     5
...           ...    ...          ...  ...     ...       ...   ...
15406       19537    117            9  ...    1086     68.05     5
15407       19540     42            2  ...    1373     91.10     7
15408       19541     77            6  ...    1498    103.52     5
15409       19542    114            5  ...    2179    140.00     7
15410       19543     25            2  ...    1497    117.60     5

[15411 rows x 11 columns]

In [29]:
X=preprocessor.fit_transform(X)

In [30]:
pd.DataFrame(X)

        0    1    2    3   ...        11        12        13        14
0      1.0  0.0  0.0  0.0  ... -0.000276 -1.324259 -1.263352 -0.403022
1      1.0  0.0  0.0  0.0  ... -0.192071 -0.554718 -0.432571 -0.403022
2      1.0  0.0  0.0  0.0  ... -0.647583 -0.554718 -0.479113 -0.403022
3      1.0  0.0  0.0  0.0  ...  0.292211 -0.936610 -0.779312 -0.403022
4      0.0  0.0  1.0  0.0  ...  0.735736  0.022918 -0.046502 -0.403022
...    ...  ...  ...  ...  ...       ...       ...       ...       ...
15406  0.0  0.0  0.0  0.0  ...  0.026096 -0.767733 -0.757204 -0.403022
15407  0.0  0.0  0.0  0.0  ... -0.527711 -0.216964 -0.220803  2.073444
15408  0.0  0.0  1.0  0.0  ...  0.344954  0.022918  0.068225 -0.403022
15409  0.0  0.0  1.0  0.0  ... -0.887326  1.329794  0.917158  2.073444
15410  0.0  0.0  0.0  0.0  ... -0.407839  0.020999  0.395884 -0.403022

[15411 rows x 15 columns]

In [31]:
df.shape

(15411, 12)

In [32]:
X_train,X_test, y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
X_train.shape

(12328, 15)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error

In [35]:
def evaluate_model(true_val,predicted):
    mae=mean_absolute_error(true_val, predicted)
    mse=mean_squared_error(true_val,predicted)
    rmse=np.sqrt(mean_squared_error(true_val,predicted))
    r2_Square=r2_score(true_val,predicted)
    return mae, rmse,r2_Square

In [36]:
models={
   "LinearRegression":LinearRegression(),
   "Lasso":Lasso(),
   "Ridge":Ridge(),
   "K-Neighbours Regressor":KNeighborsRegressor(),
   "Decision Tree":DecisionTreeRegressor(),
   "Randome Forest Regressor":RandomForestRegressor()
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    model_train_mae, model_train_rmse, model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2=evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model performance for training set')
    print("- Root Mean Squared Error:{:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error:{:.4f}".format(model_train_mae))
    print("- R2 Score:{:.4f}".format(model_train_r2))
    
    
    print('Model performance for test set')
    print("- Root Mean Squared Error:{:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error:{:.4f}".format(model_test_mae))
    print("- R2 Score:{:.4f}".format(model_test_r2))
    
    
    print('--------------------------------------')
    
    print("Model Performance for test set")
    
    
    
    
    print('='*35)
    print('\n')

LinearRegression
Model performance for training set
- Root Mean Squared Error:553850.0494
- Mean Absolute Error:268104.1303
- R2 Score:0.6218
Model performance for test set
- Root Mean Squared Error:502582.0834
- Mean Absolute Error:279686.6479
- R2 Score:0.6645
--------------------------------------
Model Performance for test set
===================================

Lasso
Model performance for training set
- Root Mean Squared Error:553850.0538
- Mean Absolute Error:268101.7491
- R2 Score:0.6218
Model performance for test set
- Root Mean Squared Error:502581.1494
- Mean Absolute Error:279682.7929
- R2 Score:0.6645
--------------------------------------
Model Performance for test set
===================================


Ridge
Model performance for training set
- Root Mean Squared Error:553850.6941
- Mean Absolute Error:268061.4421
- R2 Score:0.6218
Model performance for test set
- Root Mean Squared Error:502572.3576
- Mean Absolute Error:279625.1576
- R2 Score:0.6645
--------------------------------------
Model Performance for test set
===================================


K-Neighbours Regressor
Model performance for training set
- Root Mean Squared Error:335460.8145
- Mean Absolute Error:96905.2401
- R2 Score:0.8612
Model performance for test set
- Root Mean Squared Error:302364.2710
- Mean Absolute Error:124343.6669
- R2 Score:0.8786
--------------------------------------
Model Performance for test set
===================================


Decision Tree
Model performance for training set
- Root Mean Squared Error:0.0000
- Mean Absolute Error:0.0000
- R2 Score:1.0000
Model performance for test set
- Root Mean Squared Error:328170.2693
- Mean Absolute Error:129529.9627
- R2 Score:0.8569
--------------------------------------
Model Performance for test set
===================================


Randome Forest Regressor
Model performance for training set
- Root Mean Squared Error:125387.1278
- Mean Absolute Error:36279.4898
- R2 Score:0.9806
Model performance for test set
- Root Mean Squared Error:240061.4918
- Mean Absolute Error:98686.5018
- R2 Score:0.9234
--------------------------------------
Model Performance for test set
===================================