 support Vector Regression Implementation

In [3]:

import seaborn as sns
df=sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [9]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [10]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [11]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [12]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [13]:
# ind and dep features
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [15]:
X=df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y=df['total_bill']

In [16]:
## train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25,random_state=42);

In [17]:
X_train

      tip     sex smoker  day    time  size
115  3.50  Female     No  Sun  Dinner     2
181  5.65    Male    Yes  Sun  Dinner     2
225  2.50  Female    Yes  Fri   Lunch     2
68   2.01    Male     No  Sat  Dinner     2
104  4.08  Female     No  Sat  Dinner     2
..    ...     ...    ...  ...     ...   ...
106  4.06    Male    Yes  Sat  Dinner     2
14   3.02  Female     No  Sun  Dinner     2
92   1.00  Female    Yes  Fri  Dinner     2
179  3.55    Male    Yes  Sun  Dinner     2
102  2.50  Female    Yes  Sat  Dinner     3

[183 rows x 6 columns]

In [18]:
X_test

      tip     sex smoker   day    time  size
24   3.18    Male     No   Sat  Dinner     2
6    2.00    Male     No   Sun  Dinner     2
153  2.00    Male     No   Sun  Dinner     4
211  5.16    Male    Yes   Sat  Dinner     4
198  2.00  Female    Yes  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
172  5.15    Male    Yes   Sun  Dinner     2
242  1.75    Male     No   Sat  Dinner     2
152  2.74    Male     No   Sun  Dinner     3
231  3.00    Male    Yes   Sat  Dinner     3
155  5.14  Female     No   Sun  Dinner     5

[61 rows x 6 columns]

In [19]:
y_train

115    17.31
181    23.33
225    16.27
68     20.23
104    20.92
       ...
106    20.49
14     14.83
92      5.75
179    34.63
102    44.30
Name: total_bill, Length: 183, dtype: float64

In [20]:
y_test

24     19.82
6       8.77
153    24.55
211    25.89
198    13.00
       ...
172     7.25
242    17.82
152    17.26
231    15.69
155    29.85
Name: total_bill, Length: 61, dtype: float64

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [26]:
X_train['sex']=le1.fit_transform(X_train['sex'])
X_train['smoker']=le2.fit_transform(X_train['smoker'])
X_train['time']=le3.fit_transform(X_train['time'])

In [27]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [28]:
X_train

      tip  sex  smoker  day  time  size
115  3.50    0       0  Sun     0     2
181  5.65    1       1  Sun     0     2
225  2.50    0       1  Fri     1     2
68   2.01    1       0  Sat     0     2
104  4.08    0       0  Sat     0     2
..    ...  ...     ...  ...   ...   ...
106  4.06    1       1  Sat     0     2
14   3.02    0       0  Sun     0     2
92   1.00    0       1  Fri     0     2
179  3.55    1       1  Sun     0     2
102  2.50    0       1  Sat     0     3

[183 rows x 6 columns]

In [29]:
X_train.head()

      tip  sex  smoker  day  time  size
115  3.50    0       0  Sun     0     2
181  5.65    1       1  Sun     0     2
225  2.50    0       1  Fri     1     2
68   2.01    1       0  Sat     0     2
104  4.08    0       0  Sat     0     2

In [32]:
X_test['sex']=le1.transform(X_test['sex'])
X_test['smoker']=le2.transform(X_test['smoker'])
X_test['time']=le3.transform(X_test['time'])

ValueError: invalid literal for int() with base 10: 'Male'

In [33]:
#one hot encoding

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ct=ColumnTransformer(transformers=[('onehot',OneHotEncoder(drop='first'),3),remainder='drop'])